*.txt linguist-detectable=false
*.txt linguist-documentation=true
Architecture.txt linguist-detectable=false
Architecture.txt linguist-documentation=true
*.json linguist-detectable=false
*.html linguist-detectable=false